*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nlo
*.nls
*.out
*.pyc
*.pyd
*.so
*.synctex.gz
*.pdf
*.docx
*conflicted*
*copy*
*.png
*.eps
*.DS_Store
*bare_*
*.fls
*.fdb_latexmk
*.pyc

