*.o
*.out
*.pyc
*.pyd
*.sh
*.so
*.txt
*.DS_Store
~*
/.idea/*

/_florisunify.so.dSYM/*

/build/*
/dist/*
/acoustic_model/bpmacoustic.egg-info/*
/acoustic_model/BPM_Acoustic_Model.egg-info/*
/acoustic_model/bpmvawtacoustic.egg-info/*
